<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royal Motors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <a href="#" class="brand">
                <img src="img\logo.png" alt="Logo"> <!-- Substitua com o caminho do seu logo -->
                Royal Motors
            </a>
            <button id="quoteButton" class="quote-button">Cotação</button>
        </div>
    </nav>


    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <h1>Consulte o preço da Tabela Fipe do seu veículo</h1>
            <p>Obtenha informações precisas e gráficos de valores passados para seu veículo usando nossa plataforma gratuita!</p>
        </div>
    </section>

    <!-- App Tabela Fipe -->
    <section id="tabela-fipe" class="tabela-fipe">
        <iframe src="https://precodeveiculo.netlify.app/" frameborder="0" width="100%" height="800"></iframe>
    </section>

    <!-- Modal - Quote Form -->
    <div id="quoteModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="userForm" method="POST" action="/submit">
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" name="cpf" required>
                </div>
                <div class="form-group">
                    <label for="birthdate">Data de Nascimento:</label>
                    <input type="date" id="birthdate" name="birthdate" required>
                </div>
                <div class="form-group">
                    <label for="phone">Telefone:</label>
                    <input type="text" id="phone" name="phone" required>
                </div>
                <div class="form-group">
                    <label for="hasCar">Possui carro?</label>
                    <div class="radio-group">
                        <input type="radio" id="hasCar" name="hasCar" value="true" required>
                        <label for="hasCar">Sim</label>
                        <input type="radio" id="noCar" name="hasCar" value="false" required>
                        <label for="noCar">Não</label>
                    </div>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>

<!-- Correção para linkar o arquivo de script -->
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
